* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.container {
    max-width: 1300px;
    margin: auto;
}

.gau {
    font-weight: 900;
    color: brown;
}
.search {
    width: 46px;
    height: 45px;
}
.backgroud-color {
    background-color: green;
    width: 100%;
    border-radius: 20px;
    background-image: url(../img/il_570xN.4317121797_tg2x.webp);
}
.cow-tittel {
    padding: 10px;
    color: white;
    font-family: 'poppins', sans-serif;
    font-weight: 600px;
    border-radius: 50px 50px 0 0;
    background: linear-gradient(90deg, #ff7400 28.12%, #f91717);
}

.cow-tittel2 {
    padding: 10px 40px;
    color: white;
    font-family: 'poppins', sans-serif;
    font-weight: 600px;
    border-radius: 30px;
    background: linear-gradient(90deg, #ff7400 28.12%, #f91717);
}

.font2 {
    font-weight: bold;
    color: #f91717;
    font-size: 30px;
}

.cowbabies {
    width: 100%;
    height: 400px;
    border-radius: 20px;
    object-fit: contain;
}

.interdution-tittle {
    max-width: 750px;
    justify-content: center;
}

.information-card-items {
    width: 300px;
    height: 300px;
    border: 2px solid gold;
    padding-top: 40px;
    border-radius: 20px;
}

.font {
    font-size: 40px;
    color: #F46130;
    font-weight: bolder;
}

.item-heading {
    color: #F46130;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
}

.information-crads {
    display: flex;
    padding-top: 40px;
    gap: 20px;
    justify-content: space-between ;
}


.btn-oring {
    padding: 7px 23px;
    border: none;
    color: #fff;
    font-size: 16px;
    background: linear-gradient(90deg, #ff7400 28.12%, #f91717);
    font-weight: 600px;
    border-radius: 30px;
    text-transform: uppercase;
}

.tuladan-tittle {
    width: 500px;
    border: 1px solid #f91717;
    border-radius: 20px;
    padding: 10px;
}

.tuladan-img {
    width: 500px;

}

.tuladan-section {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.shree-banke-bihari-tempal {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    padding-top: 45px;
}

.most-about {
    width: 800px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px
}

.most-about-p {
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
}

.gaushale-make-informations {
    width: 700px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 1px solid sandybrown;
    border-radius: 20px;
    padding: 10px;
}

.realeant {
    height: 400px;
    width: 100% !important;
}

.phara {
    color: black;
    font-weight: bold;
    font-size: 16px;
    text-align: justify;
}

.tauladan-img {
    width: 100%;
}

.section-padding {
    padding-top: 70px;
}

.cow-babies-main {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
}

.cow-paap {
    width: 100%;
    height: auto;
}

.cow-save {
    width: 100%;
    position: relative;
    filter: opacity(0.5);
}

.stop {
    font-size: 40px;
    font-weight: 800;
}

.cow-main-part {
    position: relative;
}

.cow-save-tittel {
    position: absolute;
    top: 141px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-transform: uppercase;
    color: #f91717;
}

.cow-save-tittel p {
    font: 20px;
    font-weight: bold;
    text-align: center;
}

.tretment-card {
    width: 200px;
    border: 1px solid;
    border-color: #F46130;
    border-radius: 20px;
}

.welcome {
    position: absolute;
    top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toggla-icon {
    width: 100px;
    height: 100px;
    color: #f91717;
}

.marquee-container {
    width: 100%;
    overflow: hidden;
    background: #111;
    color: white;
    white-space: nowrap;
}
.li-list1{
    text-decoration: none;
    color: #f91717;
}


.ss {
    background: #111827;
    padding: 10px 16px;
    position: relative;
  }

  .brand {
    font-weight: bold;
    font-size: 18px;
  }
  .doners{
    display: block;
  }


@media (max-width:1100px) {

    .gau {
        font-size: 14px;
    }
}

@media (max-width:991px) {
    .information-crads {
        flex-wrap: wrap;
        min-width: 250px;
        justify-content: center;
    }

    .tuladan-section {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .tuladan-tittle {
        width: 800px;
        padding: 20px 40px;
    }

    .doners {
        display: none;
    }

    .information {
        flex-wrap: wrap;
    }

    .font {
        font-size: 30px;
    }

    .most-about {
        width: 100%;
    }

    .shree-banke-bihari-tempal {
        width: 100%;
    }

    .cow-save-tittel {
        top: 52px;
    }

}

@media (max-width:491px) {
    .gaushale-make-informations {
        text-align: center;
        color: black;
        font-weight: bold;
        font-size: 12px;
        text-align: justify;
    }

    .font {
        font-size: 26px;
        font-weight: 900;
    }

    .phargharf-scroll {
        height: 30ch;
        overflow-y: scroll;
        border: 1px solid #f91717;
        width: 100%;
        padding: 20px;
    }

    .cow-save-tittel {
        position: absolute;
        top: 35px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .stop {
        font-size: 22px;
        font-weight: 800;
    }

}

@media (max-width:391px) {
    .cow-tittel2 {
        font-size: 13px;
        color: aqua;
        font-weight: bold;
    }
    .font {
        font-size: 22px;
    }

    .phara {
        font-size: 13px;
    }

}