* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gau-donation-page {
  font-family: 'Noto Sans Devanagari', sans-serif;
  text-align: center;
  padding: 20px;
}

.gau-banner {
  background-size: cover;
  background-position: center;
  padding: 60px 20px;
  color:orangered;
  border-radius: 12px;
  background-color:
  rgb(41 108 175) !important;
}

.donation-amounts {
  margin-top: 30px;
}

.amount-buttons button {
  background: #ff9800;
  color: white;
  border: none;
  margin: 8px;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.amount-buttons button:hover {
  background: #e68900;
}

.upi-section {
  margin-top: 30px;
}

.qr-code {
  width: 200px;
  margin: 10px 0;
}

.donate-btn {
  display: inline-block;
  background: orangered;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  border-radius: 10px;
  font-size: 18px;
}

.donate-btn:hover {
  background: #388e3c;
}

.bank-details {
  margin-top: 30px;
  background: #f3f3f3;
  padding: 20px;
  border-radius: 12px;
}

.whatsapp-btn {
  display: inline-block;
  margin-top: 25px;
  background: orangered;
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 18px;
}

.goggla-pay {
  width: 60px;
  filter: white;
}


.math-upi{
  display: inline-flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  gap: 20px;
}
.pay{
  width: 60px;
}