*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.faci-card{
    width: 400px;
    height: auto;
    border: 1px solid gold;
    border-radius: 20px;
    padding: 13px;
    background-color: black;
    color: white;
}
.acroom-img{
    width: 100%;
    height: 400px;
    border-radius: 20px;
}
.headig-faci{
    font-size: 32px ;
    font-weight: 900;
    color: orangered;
}
.card-h{
    color: orangered;
    font-weight: 600;
    padding: 10px 0px 10px 0px ;
}
.batagodham{
    border: 1px solid orangered;
    border-radius: 20px;
    width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tuladan{
    width: 100%     ;
    max-width: 700px;
    padding: 30px;
    text-align: center;
}
.littel-p{
    display: flex;
    justify-self: center;
}
.tuladan-heading{
    font-size: 30px;
    color: orangered;
    font-weight: 900;
}
.ambulance{
    width: 500px;
    height: 400px;
}
.facilitespart-1{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 40px;
}
.sect{
display: flex;
gap: 40px ;
flex-direction: column;
padding-bottom: 20px;
}
.text-h3{
    color: orangered;
    font-weight: 700;
}
.main-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    gap: 20px;
}
.sewa-ambu{
    border: 1px solid orangered;
    border-radius: 20px;
    width: 600px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sewa-text{
    color: orangered;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}
.littel-p {
    width: 200px;
}
@media  (max-width:991px) {
    .servies-card-p{
        font-size: 14px;
    }
    .tuladan{
        width: 500px;
    }
    .tuladan p{
        font-size: 15px;
    }
    .main-content{
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

.ambulance {
    width: 100%;
    height: 400px;
    border-radius: 20px;
}

}
@media (max-width:620px) {
    .servies-img{
        width: 200px;
        height: 200px;
        display: flex;
        justify-self: center;
    }
    .facilitespart-1{
        flex-wrap: wrap;
        justify-content: center;
    }
    .main-content-p{
        font-size: 14px;
        color: black;
    }
    .acroom-img{
    width: 100%;
    height: 300px;
    border-radius: 20px;
}
.sewa-text{
    font-size: 18px;
    
}
.sewa-ambu{
    height: 300px;
    overflow-y: scroll  ;
}
}
